body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  background-color: #f5f5f5;
}

#form-section {
  margin-top: 5rem;
}

#form {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
  justify-content: center;
}

.form-group label {
  flex: 0 0 50px;
  align-self: center;
  font-weight: 500;
}

.form-group input {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 300px;
  font-size: 16px;
  background-color: #fafafa;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #007bff;
  outline: none;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.btn-primary,
.btn-danger {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-danger:hover {
  background-color: #c82333;
}

/* .flex-table {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
}

.flex-table-header,
.flex-table-row {
  display: flex;
  padding: 10px;
  align-items: center;
}

.flex-table-header {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

.flex-table-header div,
.flex-table-row div {
  flex: 1;
  text-align: left;
  padding: 3px;
  border-bottom: 1px solid #ddd;
} */

.card-header {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card-section {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 1rem;

  padding: 2rem;
}

.card-body-item {
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 2rem;
}

.card-body-item .card-body-item-image {
  grid-column: 1/5;
  grid-row: 1/2;
  justify-self: center;
}

.card-body-item-name {
  grid-column: 1/3;
  grid-row: 2/3;
  justify-self: center;
}

.card-body-item-actions {
  grid-column: 3/5;
  grid-row: 2/3;
  justify-self: center;
}

.card-body-item-description {
  grid-column: 1/5;
  justify-self: center;
}

img {
  max-width: 100%;
}

.card-body-item-actions button:first-child {
  background-color: #00aaff;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
}

.card-body-item-actions button:first-child {
  background-color: #00aaff;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
}
.card-body-item-actions button:last-child {
  background-color: #00e1ffb7;
  color: white;
  border: none;
  outline: none;
  border-radius: 4px;
}
